*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header.navbar {
    align-items: flex-end;
    padding: 0.5rem 1rem;
}
.input {
    text-align: center;
    margin: 100px 0px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul#prev-city-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.display {
    text-align: center;
}